$mainColor: #FFFFFF;
$secondColor: #9B96B0;
$inputBg: #171717;
$innerTitleBg: rgba(255, 255, 255, 0.05);
$textBg: #6900EF;
$buttonBg: #282828;
$modalBg: #0B0B0B;
//$bodyBg: #1E1E1E;
$bodyBg: #0B0B0B;
$selectionBg: rgba($mainColor, 0.15)
